# 면담 때 배운 거.. 공부..20211208
> 

- toc:false
- branch: master
- badges: true
- comments: false
- author: 최서연
- categories: [list, pdDateFrame]

- https://ggplot2-book.org/maps.html

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/covid19_20211202.csv')

In [3]:
df.query('일자>"2021-01-01" and 일자<"2021-10-31"').reset_index().iloc[:,1:]

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
0,2021-01-02,820,250,26,29,71,13,4,17,3,227,31,36,7,11,11,20,37,13,14
1,2021-01-03,657,198,19,22,48,26,8,7,1,204,33,27,9,5,12,14,12,4,8
2,2021-01-04,"1,020",329,37,29,103,74,6,5,-,268,28,23,23,13,3,25,33,10,11
3,2021-01-05,714,199,15,32,49,23,8,4,-,230,27,32,18,5,4,24,21,8,15
4,2021-01-06,838,263,38,21,38,30,9,2,1,284,16,21,24,22,1,28,29,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,2021-10-26,"1,265",427,33,61,74,5,13,9,6,431,25,31,40,41,6,20,29,6,8
298,2021-10-27,"1,952",729,43,39,125,9,15,8,1,740,19,29,59,30,6,42,45,7,6
299,2021-10-28,"2,110",788,52,106,137,7,6,6,2,707,22,54,82,41,12,41,35,4,8
300,2021-10-29,"2,124",770,43,117,132,5,9,4,1,762,21,35,68,56,13,42,34,4,8
301,2021-10-30,"2,104",706,45,90,123,16,7,3,4,719,25,46,56,26,12,40,173,9,4

In [4]:
_df=_

In [5]:
_df['ym']=list(map(lambda x: x.split('-')[0]+'-'+x.split('-')[1],df.query('일자>"2021-01-01" and 일자<"2021-10-31"').reset_index().iloc[:,1:].일자))
_df

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,...,강원,충북,충남,전북,전남,경북,경남,제주,검역,ym
0,2021-01-02,820,250,26,29,71,13,4,17,3,...,31,36,7,11,11,20,37,13,14,2021-01
1,2021-01-03,657,198,19,22,48,26,8,7,1,...,33,27,9,5,12,14,12,4,8,2021-01
2,2021-01-04,"1,020",329,37,29,103,74,6,5,-,...,28,23,23,13,3,25,33,10,11,2021-01
3,2021-01-05,714,199,15,32,49,23,8,4,-,...,27,32,18,5,4,24,21,8,15,2021-01
4,2021-01-06,838,263,38,21,38,30,9,2,1,...,16,21,24,22,1,28,29,5,6,2021-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,2021-10-26,"1,265",427,33,61,74,5,13,9,6,...,25,31,40,41,6,20,29,6,8,2021-10
298,2021-10-27,"1,952",729,43,39,125,9,15,8,1,...,19,29,59,30,6,42,45,7,6,2021-10
299,2021-10-28,"2,110",788,52,106,137,7,6,6,2,...,22,54,82,41,12,41,35,4,8,2021-10
300,2021-10-29,"2,124",770,43,117,132,5,9,4,1,...,21,35,68,56,13,42,34,4,8,2021-10
301,2021-10-30,"2,104",706,45,90,123,16,7,3,4,...,25,46,56,26,12,40,173,9,4,2021-10

In [7]:
import numpy as np

In [8]:
_df.set_index('ym').iloc[:,2:19].applymap(lambda x: x.replace(',','') if x!='-' else None).applymap(lambda x: float(x) if x!=None else None).groupby('ym').agg(np.mean).T

ym,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10
서울,160.100000,145.714286,122.387097,193.566667,196.064516,202.400000,463.354839,483.903226,704.466667,611.566667
부산,27.733333,16.642857,18.806452,41.466667,19.967742,18.433333,64.032258,102.580645,44.500000,37.733333
대구,15.466667,11.250000,9.806452,14.133333,18.225806,22.733333,34.548387,63.774194,61.766667,52.866667
인천,30.300000,22.071429,20.225806,20.233333,17.193548,18.966667,73.967742,89.258065,132.500000,113.800000
광주,22.833333,10.750000,4.032258,7.407407,12.774194,4.400000,14.903226,21.096774,31.200000,11.966667
대전,8.925926,4.043478,4.000000,14.800000,11.225806,19.100000,49.612903,47.032258,44.600000,17.866667
울산,7.620690,3.166667,5.222222,24.166667,22.548387,8.785714,12.322581,31.258065,33.000000,8.366667
세종,2.421053,1.764706,3.142857,3.346154,4.920000,3.076923,5.866667,8.290323,8.200000,4.066667
경기,168.966667,133.821429,162.225806,187.233333,157.580645,165.933333,378.096774,493.483871,634.866667,587.733333
강원,15.266667,6.035714,15.032258,11.800000,16.161290,12.466667,30.129032,31.193548,32.566667,24.633333
충북,12.966667,7.000000,14.000000,14.600000,10.161290,12.100000,17.548387,42.000000,39.733333,50.966667
충남,11.600000,15.285714,6.233333,13.400000,16.290323,8.866667,36.838710,64.225806,73.200000,46.833333
전북,6.928571,6.080000,8.387097,16.166667,9.322581,4.793103,13.000000,26.483871,30.900000,21.700000
전남,6.535714,5.000000,2.571429,4.827586,13.225806,6.166667,12.900000,18.225806,16.133333,14.300000
경북,18.966667,8.428571,8.096774,20.200000,18.774194,8.566667,16.354839,53.032258,40.766667,44.333333
경남,21.700000,6.142857,25.064516,31.833333,25.290323,18.266667,63.096774,89.580645,49.333333,49.566667
제주,4.040000,2.666667,2.291667,2.928571,10.419355,8.068966,15.096774,28.064516,9.100000,7.466667

In [9]:
_df2=_

In [10]:
pop=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-11-22-prov.csv')
pop.columns=['prov','pop']

In [11]:
_df2.iloc[0,:]/pop['pop'][0]

ym
2021-01    0.000017
2021-02    0.000015
2021-03    0.000013
2021-04    0.000020
2021-05    0.000021
2021-06    0.000021
2021-07    0.000049
2021-08    0.000051
2021-09    0.000074
2021-10    0.000064
Name: 서울, dtype: float64

In [14]:
pd.DataFrame([_df2.iloc[i,:]/pop['pop'][i] for i in range(17)])

ym,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10
서울,0.000017,0.000015,0.000013,0.000020,0.000021,0.000021,0.000049,0.000051,0.000074,0.000064
부산,0.000008,0.000005,0.000006,0.000012,0.000006,0.000005,0.000019,0.000031,0.000013,0.000011
대구,0.000006,0.000005,0.000004,0.000006,0.000008,0.000010,0.000014,0.000027,0.000026,0.000022
인천,0.000010,0.000007,0.000007,0.000007,0.000006,0.000006,0.000025,0.000030,0.000045,0.000039
광주,0.000016,0.000007,0.000003,0.000005,0.000009,0.000003,0.000010,0.000015,0.000022,0.000008
대전,0.000006,0.000003,0.000003,0.000010,0.000008,0.000013,0.000034,0.000032,0.000031,0.000012
울산,0.000007,0.000003,0.000005,0.000022,0.000020,0.000008,0.000011,0.000028,0.000029,0.000007
세종,0.000007,0.000005,0.000009,0.000009,0.000013,0.000008,0.000016,0.000023,0.000022,0.000011
경기,0.000012,0.000010,0.000012,0.000014,0.000012,0.000012,0.000028,0.000036,0.000047,0.000043
강원,0.000010,0.000004,0.000010,0.000008,0.000011,0.000008,0.000020,0.000020,0.000021,0.000016
충북,0.000008,0.000004,0.000009,0.000009,0.000006,0.000008,0.000011,0.000026,0.000025,0.000032
충남,0.000005,0.000007,0.000003,0.000006,0.000008,0.000004,0.000017,0.000030,0.000035,0.000022
전북,0.000004,0.000003,0.000005,0.000009,0.000005,0.000003,0.000007,0.000015,0.000017,0.000012
전남,0.000004,0.000003,0.000001,0.000003,0.000007,0.000003,0.000007,0.000010,0.000009,0.000008
경북,0.000007,0.000003,0.000003,0.000008,0.000007,0.000003,0.000006,0.000020,0.000016,0.000017
경남,0.000007,0.000002,0.000008,0.000010,0.000008,0.000006,0.000019,0.000027,0.000015,0.000015
제주,0.000006,0.000004,0.000003,0.000004,0.000015,0.000012,0.000022,0.000041,0.000013,0.000011